from rest_framework import viewsets

from ..models import {{ name }}
from ..serializers import {{ name }}Serializer


class {{ name }}ViewSet(viewsets.ModelViewSet):
    """
    Viewset for model {{ name }}

    Author: {{ author }}
    """

    serializer_class = {{ name }}Serializer
    queryset = {{ name }}.objects.all()
